.purchase-history {
    background-color: #15202B;
    padding: 15px;
}

.purchase-history h2 {
    color: #1DA1F2;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.purchase-history h1 {
    color: #ecedee;
    background-color: #1DA1F2;
    display: flex;
    justify-content: center;
}

.purchase-history .hist-table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}

.purchase-history {
    background-color: #15202B;
    padding: 15px;
  }
  
  .hist-table .action{
    display: flex;
    justify-content: space-between;
  }
  
  .hist-table .action button{
    width: 32%;
  }
  
  .hist-table {
    width: 100%;
    border-collapse: collapse;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
  }
  
  .hist-table th, .hist-table td {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .hist-table th {
    background-color: #1DA1F2;
    color: #15202B;
    text-align: left;
  }
  
  .hist-table .aligncenter{
    text-align: center !important;
  }
  
  .hist-table tr:hover {
    background-color: rgba(29, 161, 242, 0.1);
  }
  
  .hist-table button {
    background-color: #1DA1F2;
    color: #15202B;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .hist-table button:hover {
    background-color: #15202B;
    color: #1DA1F2;
  }

  .hist-table .quantityField{
    justify-content: space-around;
  }
  
  .purchase-history .navButtons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .purchase-history .navButtons .activeButton{
    font-size: large;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 20px;
    background-color: #1DA1F2;
    color: #15202B;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    width: 10vw;
  }
  
  .purchase-history .navButtons .activeButton:hover{
    font-size: large;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 20px;
    background-color: #0d3853;
    color: #8eb0d1;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    width: 10vw;
  }


  .purchase-history .navButtons .disabledButton{
    font-size: large;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 20px;
    background-color: #506877;
    color: #bfc2c5;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
    width: 10vw;
  }