.shopping-cart {
    background-color: #15202B;
    padding: 15px;
}

.shopping-cart h2 {
    color: #e4e9ec;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px 50px;
    margin-bottom: 15px;
    background-color: #1DA1F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopping-cart button{
    background-color: #dfe4e7;
    color: #0a4366;
    border: none;
    padding: 10px 50px;
    margin: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.shopping-cart .cart-table {
    width: 100%;
    border-collapse: collapse;
}

.shopping-cart .cart-table th, .shopping-cart .cart-table td {
    border: 1px solid rgba(236, 233, 233, 0.726);
    padding: 8px 12px;
    color: rgb(245, 243, 239);
}

.shopping-cart .cart-table th {
    background-color: rgba(0, 0, 0, 0.1);
}

.shopping-cart .cart-table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}

.shopping-cart button {
    background-color: #1DA1F2;
    color: #15202B;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.shopping-cart .aligncenter{
    text-align: center !important;
}

.shopping-cart .action{
    display: flex;
    justify-content: space-around;
}

.shopping-cart .cart-table th {
    background-color: #1DA1F2;
    color: #15202B;
    text-align: left;
  }